ul {
  padding: 0;
  border: 1px solid #ccc;
}

li {
  padding: 10px;
  width: 300px;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

li:hover {
  background-color: aliceblue;
  cursor: pointer;
}

li:last-child {
  border-bottom-width: 0;
}
